<div class="container-fluid my-3" style="border: dotted;">

    <div class="row w-auto mx-auto my-3" style="border: dotted;" align="center">
        <div class="col-md-12 align-items-center" style="border: dotted;">
            <h1>¿Qué es lo que hago?</h1>
        </div>
    </div>


    <div class="row w-auto mx-auto my-3" style="border: dotted;">
        <div class="col-md-6" style="border: dotted;">
            <div class="mx-auto" style="border: dotted;">
                <h3 class="fs-2 mt-4 px-4 pb-1" align="center">Desarrollo Backend</h3>
                <div class="py-3" align="center" style="border: dotted;">
                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/spring.svg" alt="">
                    </a>
                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/nodejs.svg" alt="">
                    </a>
                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/java.svg" alt="">
                    </a>
                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/javascript.svg" alt="">
                    </a>
                </div>
                <p class="fs-5 mt-3 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="fs-5 mt-3 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="fs-5 mt-3 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="fs-5 mt-3 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="col-md-6" style="border: dotted;">
            <img id="img-tools" class="img-fluid mx-auto d-block" src="./assets/person1.png" alt="rafael-profile">
        </div>
    </div>
    <!-- Frontend -->
    <div class="row w-auto mx-auto my-3" style="border: dotted;">
        <div class="col-md-6" style="border: dotted;">
            <div class="mx-auto" style="border: dotted;">
                <h3 class="fs-2 mt-4 px-4 pb-1" align="center">Desarrollo Frontend</h3>
                <div class="py-3" align="center" style="border: dotted;">
                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/html.svg" alt="">
                    </a>
                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/css.svg" alt="">
                    </a>
                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/angular2.png" alt="">
                    </a>

                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/typescript.svg" alt="">
                    </a>

                </div>
                <p class="fs-5 mt-3 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="fs-5 mt-3 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="fs-5 mt-3 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="fs-5 mt-3 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="col-md-6" style="border: dotted;">
            <img id="img-tools" class="img-fluid mx-auto d-block" src="./assets/person1.png" alt="rafael-profile">
        </div>
    </div>
</div>