<p>stacks-iuse works!</p>
<div class="container-fluid my-3" style="border: dotted;">


    <div class="row w-auto mx-auto my-3" style="border: dotted;">
        <div class="col-md-6" style="border: dotted;">
            <div class="mx-auto" style="border: dotted;">
                <h3 class="fs-2 mt-4 px-4 pb-1" align="center">Infraestructura Cloud</h3>
                <div class="py-3" align="center" style="border: dotted;">
                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/amazon.svg" alt="">
                    </a>
                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/gcloud.svg" alt="">
                    </a>
                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/heroku.svg" alt="">
                    </a>
                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/docker.svg" alt="">
                    </a>
                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/postgresql.svg" alt="">
                    </a>
                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/mysql.svg" alt="">
                    </a>
                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/oracle.svg" alt="">
                    </a>
                    <a class="fs-2 mx-3" href="#" target="_blank">
                        <img class="icons-list" src="./assets/mongodb.svg" alt="">
                    </a>
                </div>
                <p class="fs-5 mt-3 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="fs-5 mt-3 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="fs-5 mt-3 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <p class="fs-5 mt-3 px-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
        <div class="col-md-6" style="border: dotted;">
            <img id="img-tools" class="img-fluid mx-auto d-block" src="./assets/person1.png" alt="rafael-profile">
        </div>
    </div>
</div>